.productCard {
  display: flex;
  height: 15rem;
  background-color: rgb(55, 59, 82);
  padding: 1.5rem 1rem 2rem 1rem;
  border-radius: 1rem;
}

.productCard__img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.productCard__html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
