.content {
  margin: auto;
  width: 80rem;
  display: flex;
  padding: 5rem;
  gap: 5rem;
  align-items: flex-start;
}

.container {
  width: 100vw;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.productCard__img {
  background: rgb(55, 59, 82);
  border-radius: 1rem;
  padding: 1.5rem;
}
